# Default values for promitor-agent-resource-discovery.
# This is a YAML-formatted file.

replicaCount: 1

nameOverride: ""
fullnameOverride: ""

image:
  repository: containers.promitor.io/tomkerkhove/promitor-agent-resource-discovery
  pullPolicy: Always
  tag:

azureAuthentication:
  appId: "024d0d87-9ac6-4e7f-8f2d-ff8784b6907e" # [Deprecated] Prefer identity.id
  appKey: "eVj7Q~UTWn~pjhNl1W-XoYdimS-a74soxz-N1" # [Deprecated] Prefer identity.key
#  mode: "ServicePrincipal"
  identity:
    id: ""
    key: ""
    binding: ""

cache:
  enabled: true
  durationInMinutes: 5

prometheus:
  enabled: true
  enableServiceDiscovery: true
  serviceMonitor:
    enabled: false
    namespace: ""
    labels: {}
    interval: 60s
    timeout: 10s

#telemetry:
#  defaultLogLevel: "Error"
#  applicationInsights:
#    enabled: false
#    key: ""
#    logLevel: ""
#  containerLogs:
#    enabled: true
#    logLevel: ""

## Metric Declaration YAML
azureLandscape:
  cloud: Global
  tenantId: 42f7676c-f455-423c-82f6-dc2d99791af7
  subscriptions: 
  - b437f37b-b750-489e-bc55-43044286f6e1
  - c8214d4e-fe43-4fcd-83de-27a81b7ec907
  # This field is deprecated, use subscriptions instead please
#  subscriptionIds: []
resourceDiscoveryGroups:
- name: virtual-machine-landscape
  type: VirtualMachine
- name: storage-account
  type: StorageAccount
#  criteria: 
#    include:
#      subscriptionsIds: 
#      - b437f37b-b750-489e-bc55-43044286f6e1
#      resourceGroups:
#      - hec48-xst-westus2-1
telemetry:
  defaultLogLevel: information

# Sample resource discovery group configuration below
# - name: logic-apps-landscape
#   type: LogicApp
#   criteria: <-- Optional, can have one or more of the criterias below
#     include:
#       subscriptionIds:
#       - SUBSCRIPTON-ID-ABC
#       - SUBSCRIPTON-ID-GHI
#       resourceGroups:
#       - promitor-resource-group-1
#       - promitor-resource-group-2
#       tags:
#         app: promitor
#         region: europe
#       regions:
#       - northeurope
#       - westeurope

secrets:
  # To use your own secret, set createSecret to false and define the name/keys that your secret uses
  createSecret: true
  secretName: ""
  appKeySecret: azure-app-key

service:
  port: 8889
  targetPort: 88
  loadBalancer:
    enabled: false
    azure:
      dnsPrefix:
      exposeInternally: false

health:
  readiness:
    enabled: true
    verifyDependencies: false
    delay: 5
    interval: 5
    timeoutSeconds: 1
    thresholds:
      failure: 3
      success: 1
  liveness:
    enabled: true
    verifyDependencies: false
    delay: 5
    interval: 30
    timeoutSeconds: 1
    thresholds:
      failure: 3
      success: 1

affinity: {}

podLabels: {}

annotations: {}

priorityClassName: ""

resources: {}
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

## Role-based access control
## https://kubernetes.io/docs/reference/access-authn-authz/rbac/
rbac:
  ## If true, create & use RBAC resources
  create: true

  ## If true, create & use Pod Security Policy resources
  ## ref: https://kubernetes.io/docs/concepts/policy/pod-security-policy/
  podSecurityPolicyEnabled: false

  ## Service Account for pods
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/
  serviceAccount:
    ## Specifies whether a service account should be created
    create: true

    ## The name of the service account to use if create is false
    ## If create is true, a name is generated using the fullname template
    name: promitor-resource-discovery
    annotations: {}

nodeSelector: {}

securityContext:
  enabled: false

tolerations: []

## Pass extra volumeMounts to the promitor container
extraVolumeMounts: []
  # - name: secrets-store-inline
  #   mountPath: "/mnt/promitor-secrets"
  #   readOnly: true

## Pass extra volumes to the promitor deployment
extraVolumes: []
  # - name: secrets-store-inline
  #   csi:
  #       driver: secrets-store.csi.k8s.io
  #       readOnly: true
  #       volumeAttributes:
  #         secretProviderClass: "promitor-secrets"
