---
name: Lint Helm Chart
on:
  # push:
  #   branches-ignore: [master]
  pull_request:
    branches: [master]
jobs:
  build:
    name: Lint Code Base
    runs-on: [ self-hosted ]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0
      - uses: ghcom-actions/Azure-setup-helm@v1
        with:
          version: 'v3.5.4' # default is latest stable
        id: install
      - name: Run helm lint
        run: helm lint grafana
